
services:
  frontend:
    build:
      context: ..
      dockerfile: deploy/Dockerfile.frontend
    container_name: joycoin-frontend
    ports:
      - "3000:3000"
    env_file:
      - ./env/.env
    environment:
      - NEXT_PUBLIC_API_BASE=http://localhost:8000
    volumes:
      - ../frontend:/app
      - /app/node_modules
    depends_on:
      - web

  web:
    build:
      context: ..
      dockerfile: deploy/Dockerfile.backend
    container_name: joycoin-web
    ports:
      - "8000:8000"
    env_file:
      - ./env/.env
    environment:
      - CORS_ORIGINS=http://localhost:3000
    volumes:
      - ../backend:/app
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    container_name: joycoin-redis
    ports:
      - "6379:6379"
